<!DOCTYPE html>
<html>
  <head>
    <title>ActiveAdminApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Admin Dashboard", new_admin_user_session_path%>
    <%if not user_signed_in?%>
    <%= link_to "Sign In", new_user_session_path%>
    <%= link_to "Sign Up", new_user_registration_path%>
  <% end %>
  <% if user_signed_in?%>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete%>
  <% end %>
  
  <%= yield %>
  </body>
</html>
